<!DOCTYPE html>
<html lang="ene">
<head>
    {% block head%}
    <meta charset="UTF-8">
    <title> TDB - {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    {% endblock head %}
</head>
<body>
    {% block content %}
    <h1> Super </h1>
    {% endblock content %}
</body>
</html>
